{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
      </div>
      <h2 class="article-title">Contact</h2>
      <p class="article-content"><a href="https://www.instagram.com/jez4luk4/"><img border="0" alt="instagram: " src="\static\contact\ig.jpg" width="80" height="80"></a> @luk4jez4 </p>
      <p class="article-content"><a href="https://www.facebook.com/luka.jeza"><img border="0" alt="facebook: " src="\static\contact\facebook.jpg" width="80" height="80"></a>     @luka.jeza </p>
      <p class="article-content"><img border="0" alt="gmail: " src="\static\contact\mail.jpg" width="80" height="60"> luka.jeza@gmail.com </p>
    </div>
  </article>
  <!-- Modal -->
{% endblock content %}
